*{
    margin: 0;
    padding: 0;
}

html{
    background-color: aquamarine;
}

#logo{
    width: 75px;
}

header{
    font-size: 2rem;
    text-align: center;
    border: 5px purple solid;
}
.post{
    width: 25vw;
    border: solid black 2px;
    margin: 1cm;
    transform: translateX(50%);
}

.post > h2{
    font-size: 1.5em;
}
.post > p {
    width: 50%;
    justify-content: center;
    transform: translateX(50%);
}
