*{
    margin: 0;
    padding: 0;
}

html{
    background-color: aquamarine;
}

#logo{
    width: 75px;
    justify-self: center;
    align-self: center;
}

header{
    font-size: 2rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 10fr 3fr;
    justify-items: center;

}

header > h1{
    justify-self: center;
}

header > nav{
    justify-self: end;
    align-self: start;
}
.post{
    width: 25vw;
    border: solid black 2px;
    margin: 1cm;
    transform: translateX(50%);
}

.post > h2{
    font-size: 1.5em;
}
.post > p {
    width: 50%;
    justify-content: center;
    transform: translateX(50%);
}
